# Core Dependencies
torch>=2.0.0
torchaudio>=2.0.0
torchvision>=0.15.0
sentence-transformers>=2.2.2
transformers>=4.32.0

# Data Processing
librosa>=0.10.1
numpy>=1.26.4
pandas>=2.1.1
scipy>=1.10.1
tqdm>=4.66.1

# NLP
nltk>=3.8.1
spacy>=3.7.2
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1.tar.gz

# Utilities
python-dotenv>=1.0.0
huggingface-hub>=0.16.4

# Performance
tokenizers>=0.14.0
accelerate>=0.23.0
scikit-learn>=1.0.2
